/* Default Font Size ================================================ */

:root {
  --fc-small-font-size: 14.4px;
}


/* H-top ================================================ */

.h-top {
  height: calc(89px - 4px);
}


/* Calendar Hight ================================================ */

#schedule-s {
  height: calc(100% - 89px);
  padding-bottom: 15px;
}


/* Font ================================================ */

.fc-col-header-cell-cushion {
  font-size: 14.4px;
}

ul > li b {
  font-size: 12.5px;
}

ul > li i {
  font-size: 12.5px;
}

ul > li u {
  font-size: 12.5px;
}

ul > li b i {
  font-size: 12.5px;
}


/* Day: Specific ================================================ */

#fc-dom-140,
#fc-dom-142,
#fc-dom-144,
#fc-dom-146,
#fc-dom-148,
#fc-dom-150,
#fc-dom-152 {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: right;
  color: black;
  background: white;
  z-index: -1;
}

#fc-dom-88,
#fc-dom-174,
#fc-dom-176,
#fc-dom-178,
#fc-dom-180,
#fc-dom-182 {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: right;
  color: white;
  background: black;
  z-index: -1;
}


/* ??? ================================================ */

.fc-event {
  height: 100%;
}


/* Responsive ================================================ */

@media only screen and (max-width:600px) {   /* For tablets: */
  
  .h-top {
    height: 117px;
  }
  
  .fc .fc-daygrid-month-start {
    font-size: 12.5px;
  }
  
}